@charset "UTF-8";
nav, footer{
	float:left;
	height: 10%;
	width:100%;
}

footer{
	text-align: center;	
}

section{
	width:80%;
	float: left;
	height: 80%;
}
aside{
	width: 20%;
	height: 80%;
	float: left;
	text-align :center;
	color: white;
}

.label{
	text-align: center;
}

#issuewrite{
	height: 500px;
	width: 100%;
}

.tag{
	text-align: center;
	width: 20%;
}